.heroTitle {
  font-size: clamp(32px, 5vw, 58px);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 16px;
}

.heroSubtitle {
  font-size: clamp(16px, 2vw, 20px);
  width: 90%;
  max-width: 600px;
  color: #555;
  margin-bottom: 24px;
}

.heroTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
}

.heroImage {
  border-radius: 20px;
  max-width: 100%;
  height: auto;
}

.heroSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 40px 20px;
}

@media (max-width: 768px) {
  .heroSection {
    flex-direction: column;
    text-align: center;
  }

  .heroTextContainer {
    align-items: center;
    padding: 10px;
  }

  .heroSubtitle {
    width: 100%;
  }
}

/* logo banner */

.logoBanner {
  overflow-x: clip;
  white-space: nowrap;
  position: relative;
  background-color: #f9fafb; /* Optioneel */
  padding: 10px 0;
}

.logoBannerImage {
  margin: 0 2rem; /* ✅ Reduce margin */
  max-width: 100%;
  height: auto;
}

.logoBannerImageContainer {
  width: 130px; /* Default size */
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
}

/* Responsive: Medium screens */
@media (max-width: 1024px) {
  .logoBannerImageContainer {
    width: 100px; /* Reduce size */
    height: 75px;
  }
}

/* Responsive: Small screens */
@media (max-width: 768px) {
  .logoBannerImageContainer {
    width: 80px; /* Further reduce size */
    height: 80px;
  }
}

/* Responsive: Mobile screens */
@media (max-width: 480px) {
  .logoBannerImageContainer {
    width: 60px; /* Even smaller for phones */
    height: 80px;
  }
}

/* info section */

.buttonContainer {
  display: flex;
  gap: var(--spacing-sm);
  align-items: center;
  justify-content: center;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  justify-content: center;
  place-content: center;
  width: 100%; /* Ensures full width */
  max-width: 1200px; /* Prevents excessive stretching */
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .cardGrid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-auto-flow: dense;
  }

  /* Ensure the third card spans the full width */
  .cardGrid > *:nth-child(3) {
    grid-column: span 2;
    justify-self: center;
  }
}

@media (max-width: 768px) {
  .cardGrid {
    grid-template-columns: 1fr; /* Single column */
    justify-content: center; /* Centers the column */
    align-items: center; /* Ensures proper vertical alignment */
    display: flex; /* Switches to flex for full centering */
    flex-direction: column; /* Ensures stacked layout */
  }
}

/* testimonials */

.testimonialSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 40px 20px;
}
