/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/styles/globals/sideNav.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.sideNav_sideNav__Hu_0_ {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 230px;
  background-color: #ededed;
}

.sideNav_selectContainer__f8vGu {
  max-width: 250px;
}

.sideNav_navItem__eGNuF {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  gap: 1rem;
  padding: 1rem;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/styles/layouts/DashboardLayout.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.DashboardLayout_dashboardLayout__ftNVF {
  display: flex;
}

.DashboardLayout_mainContent__j8Jtc {
  margin-left: 230px;
}

